
# db ignore settings
db/data
db/secrets/*
!db/secrets/.gitkeep
!db/secrets/*.example
db/init/*
!db/init/.gitkeep

# www ignore settings
wordpress/data
wordpress/secrets/*
!wordpress/secrets/.gitkeep
!wordpress/secrets/*.example
