.pds-explore-topics-six-up-root {

  background-color: #F6F6F6;
  text-align: left;

  .pds-explore-topics-six-up-container {
    padding: 30px 40px 34px 40px;
  }

  .pds-explore-topics-six-up-title {
    margin-bottom: 24px;
  }
}