.pds-explore-topics-four-up-root {

  background-color: #F6F6F6;
  text-align: left;
  overflow: hidden;

  .pds-explore-topics-four-up-container {
    padding: 30px 40px 53px 40px;
  }

  .pds-explore-topics-four-up-title {
    margin-bottom: 24px;
  }
}